
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title></title>
  
    <link rel="stylesheet/less" type="text/css" href="metro-vibes-less/style.less">

    <script src="static/metro-vibes-css/js/libs/jquery-ui.min.js"></script>
    <script src="static/metro-vibes-css/js/jquery-ui.multidatespicker.js"></script>
    <link href="static/metro-vibes-css/css/jquery-ui-1.8.20.custom.css" rel="stylesheet">
    <link href="static/metro-vibes-css/css/new.css" rel="stylesheet">
    <script src="static/metro-vibes-css/js/libs/modernizr.min.js"></script>
    <script src="static/metro-vibes-css/js/libs/jquery-1.10.0.js"></script>
    <script src="static/metro-vibes-css/js/libs/jquery-ui.min.js"></script> 
    <script src="static/metro-vibes-css/js/jplayer.playlist.min.js"></script>
    <script src="static/metro-vibes-css/js/general.js"></script>
    <script src="static/metro-vibes-css/js/jquery.jscrollpane.min.js"></script>
    <script src="static/metro-vibes-css/js/jquery.jplayer.min.js"></script>
    <script src="static/metro-vibes-css/js/jquery.customInput.js"></script>
    <script src="static/metro-vibes-css/js/jquery.jscrollpane.min.js"></script>
    <script src="static/metro-vibes-css/js/jquery.slider.bundle.js"></script>
    <script src="static/metro-vibes-css/js/jquery.mousewheel.js"></script>
    <script src="static/metro-vibes-css/js/jquery.slider.js"></script>
    <script src="static/metro-vibes-css/js/video.js"></script>
    <script src="static/metro-vibes-css/js/jquery.powerful-placeholder.min.js"></script>
    <script src="static/metro-vibes-css/js/respond.min.js"></script>
    <script src="static/metro-vibes-css/js/progressbar.js"></script>
    <script src="static/metro-vibes-css/js/jquery-ui.multidatespicker.js"></script>


    <script>
    // <![CDATA[
    jQuery(document).ready(function($) {
        // First Calendar
        function assignCalendar(id){
            $('<div class="calendar" />')
                    .insertAfter( $(id) )
                    .multiDatesPicker({
                        dateFormat: 'yy-mm-dd',
                        minDate: new Date(),
                        maxDate: '+1y',
                        altField: id,
                        firstDay: 1,
                        showOtherMonths: true
                    }).prev().hide();
        }
        assignCalendar('#date_departure');
        // Second Calendar
        function assignCalendar(id){
            $('<div class="calendar" />')
                    .insertAfter( $(id) )
                    .multiDatesPicker({
                        dateFormat: 'yy-mm-dd',
                        minDate: new Date(),
                        maxDate: '+1y',
                        altField: id,
                        firstDay: 1,
                        showOtherMonths: true
                    }).prev().hide();
        }
        assignCalendar('#date_departure2');

    });
    // ]]>
    </script>  
    <link href="static/metro-vibes-css/css/bootstrap.css" media="screen" rel="stylesheet">
    <link href="static/metro-vibes-css/style.css" media="screen" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="dist/css/bootstrap.css">
    
    <link rel="stylesheet" type="text/css" href="dist/css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="dist/css/bootstrap-theme.min.css">

    
    <script src="static/metro-vibes-css/js/general.js"></script>
    <script type="text/javascript" src="dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="dist/js/bootstrap.min.js"></script> 
</head>
<body>
<div>
    <div class="col-md-6">
        <img src="avatar-image.jpg" alt="" />
        <img src="avatar-image.jpg" alt="" />
        <img src="avatar-image.jpg" alt="" />
    </div>
</div>


</body>
</html>